/** Import Reset CSS **/

@import url("reset.css");

/** Import Google fonts **/

@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Orienta");

/** Global Styles **/

html
{
	height: 100%;
	overflow: auto;
	
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body
{
	font-family: "Open Sans", Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color: #555;
	padding: 0 0 20px 0;
	background: #FFF url("../images/bg.png") repeat;
}

::selection { background: #000; color: #FFF; }
::-moz-selection { background: #000; color: #FFF; }

a { color: #00B2E0; text-decoration: none; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
a:hover { color: #222; }

/** Layout Styles **/

.container
{
	width: 100%;
	min-width: 280px;
	line-height: 22px;
}

	.darkbg
	{
		background: #222;
	}
	
	.lightbluebg
	{
		background: #0CF;
	}
	
	
	
					
	/** Main **/
						
	.container #maincont
	{
		width: 80%;
		max-width: 980px;
		margin: 0 auto;
		padding: 10px 0;
		text-shadow: 1px 1px 1px #FFF;
		/*background: url("../images/bg-maincont.png") repeat-y 74% 0;*/
	}
	
		.container #maincont p { margin: 0 0 20px 0; }
		.container #maincont h1, .container #maincont h2, .container #maincont h3, .container #maincont h4, .container #maincont h5 { margin: 0 0 20px 0; color: #444; font-weight: normal; letter-spacing: -1px; font-family: "Orienta", Arial, Helvetica, sans-serif; }
		.container #maincont h1 { font-size: 30px; line-height: 26px; }
		.container #maincont h2 { font-size: 24px; line-height: 24px; }
		.container #maincont h3 { font-size: 24px; line-height: 24px; }
		.container #maincont h4 { font-size: 22px; line-height: 22px; }
		.container #maincont h5 { font-size: 20px; line-height: 20px; }
		.container #maincont ul { margin: 0 0 15px 35px; list-style-type: square; }
		.container #maincont ul li { padding: 0 0 0 2px; }
		.container #maincont ol { margin: 0 0 15px 35px; list-style-type: decimal; }
		.container #maincont ol li { padding: 0 0 0 2px; }
		.container #maincont hr { clear: both; border: 0; height: 0; margin: 0 0 20px 0; border-top: 1px dashed #CCC; }

	
			.container #maincont #mainleft
			{
				float: left;
				width: 72%;
				padding: 20px 3% 0 0;
				
				min-height: 400px;
				height: auto !important;
				height: 400px;
			}
			


/** Responsive Magic **/

@media screen and (max-width: 768px)
{
	.container
	{
		
	}
	
		.container #headercont #headerlogo, .container #headercont #headerright
		{
			float: none;
			width: 100%;
			text-align: center;
		}
		
			.container #headercont #headerlogo h1 a img
			{
				width: 220px;
			}
			
		.container #maincont
		{
			background: none;
		}
		
		.container #maincont #mainleft, .container #maincont #mainright
		{
			float: none;
			width: 100%;
			text-align: center;
			
			min-height: 100px;
			height: auto !important;
			height: 100px;
		}
		
		.container #maincont #mainright .sidecont
		{
			padding: 20px 0 10px 0;
		}
		
			.container #maincont #mainright .sidesection h3
			{
				margin: 0 0 10px 0;
				font-size: 20px;
			}
		
			.container #maincont #mainright .sidesection
			{
				float: left;
				width: 48%;
				padding: 0 1%;
				margin: 0 0 15px 0;
			}
			
	.container #footercont
	{
		text-align: center;
	}
		
		
}

@media screen and (max-width: 480px)
{		
	.container
	{
		
	}
	
		.container #headercont #headerlogo h1 a
		{
			font-size: 32px;
		}
	
		.container #headercont #headerright p
		{
			font-size: 18px;
		}
	
		.container #maincont #mainright .sidecont
		{
			
		}
		
			.container #maincont #mainright .sidesection h3
			{
				margin: 0 0 10px 0;
				font-size: 24px;
			}

			.container #maincont #mainright .sidesection
			{
				clear: both;
				float: left;
				width: 100%;
				padding: 0%;
				margin: 0 0 15px 0;
			}
}

